extends layout.pug
include mixins/post-list

block title
    title Hello, Nerds

block content
    .header
          p 
            img(src="/static/redditlogo.png",s height='60', width='60')
    
    p(class="topnav")
      a(href='/sort/hot') HOT 
      a(href='/sort/top') TOP
      a(href='javascript:void(0);' style="font-size:15px;" class="icon")
      +postList(posts)
          
