doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        link(rel="shortcut icon" type="image/png" href="/static/Reddit-icon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
        block title
            title Hello, Nerds
    body
        header
            if loggedInUser
<<<<<<< HEAD
                p Welcome #{loggedInUser.username} 
                
                ul
                    li
                        a(href="/createpost") 
                        button(type='button') Create Post
                    li
                        a(href='/sort/hot')
                         button(type='button') Hot Posts
                    li 
                        a(href='/sort/top')
                         button(type='button') Top Posts
                 
=======
                ul
                    li
                        p(class="title") Welcome #{loggedInUser.username}
                    li
                        a(class="link")(href="/createpost") Create Post
                    li
                        a(href="/auth/logout") logout
                
>>>>>>> af0d72705339bc878746dd2ca686bd0bbe01e3db
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 bruh
