doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title

            title Login
        block content
            
            .loginbox
                 p
                   img(src="/static/redditlogo.png", height='60', width='60')

                 p Login
                 form(action='/auth/login', method='POST')
                  p
                    |  Username: 
                    input(type='text', name='username')
                  p
                    |  Password: 
                    input(type='password', name='password')
                  p
                    a(href="/auth/recover") Forgot Password?
                  p
                    button(type='submit') Login!
                
                    
                    
