extends layout.pug
block content
    .password
          p
            img(src="/static/redditlogo.png", height='60', width='60')
          p CHANGE PASSWORD
            form(action='/auth/resetPassword', method='POST')
              p
                input(type='hidden', name='token', value=token)
                |  New password: 
                input(type='password', name='newPassword')
                
            
              p
                button(type='submit') OK
            
