extends layout.pug
block content
    .password
          p
            img(src="/static/redditlogo.png", height='60', width='60')
          p RECOVER PASSWORD
            form(action='/auth/createResetToken', method='POST')
              p
                |  Email: 
                input(type='email', name='email')
            
              p
                button(type='submit') RECOVER